extends base.pug

block content 
  h4 Upload video
    form(method="POST")
        input(name="title", placeholder="Video Title", required)
        input(name="comments",placeholder="Video comments", required) 
        input(value="Save",type="submit") 